* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary-font: "Silkscreen", serif;
  --primary-bg-color: #ffffff;
  --player-ui-bg-color: rgb(21, 101, 158);
  --player-health-bar-color: rgb(19, 157, 19);
  --player-mana-bar-color: rgb(32, 32, 175);
  --player-home-buttons-color: brown;
}

body{
  
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-bg-color);
  background-image: url("../public/castle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 90%;
  box-shadow: 1px 1px 1px grey;
  position: absolute;
}
.dragon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 250px;
  }
  h1 {
    background-color: red;
    width: 100%;
  }
}
.text-container {
  color: white;
  grid-column: 1/3;
  grid-row: 1/3;
  overflow: auto;
  padding: 15px;
}
.player-sprite-container {
  grid-column: 3/4;
  grid-row: 2/3;
  img {
    width: 100px;
    animation: scale infinite 2s ease forwards;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.player-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-ui-container {
  grid-column: 1/ 5;
  grid-row: 3/5;
  background-color: var(--player-ui-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.player-health {
  background-color: var(--player-health-bar-color);
}
.player-mana {
  background-color: var(--player-mana-bar-color);
}
.player-btns {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  font-family: var(--primary-font);
  button{
    background-color: var(--player-home-buttons-color);
    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.you-lose {
  position: absolute;
  left: 215px;
  top: 214px;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 100;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  animation: fadeIn 0.5s ease-in;
  gap: 20px;

  button {
    width: 50%;
    height: 50px;
    cursor: pointer;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
